<div class="container p-1 margintop">
    <div class="row gap">
        <div class="col-md 3 box1 d-flex align-items-center">
            <h6> Total de orçamentos: {{totalOrders}}</h6>
        </div>
        <div class="col-md 3 box1 d-flex align-items-center">
            <h6> Valor total: R${{sumOrders}}</h6>
        </div>
        <!-- <div class="col-md 3 box1">

        </div> -->
    </div>

</div>

<div class="container margintop p-2" >
    <div class="border border-light rounded p-5" *ngIf="visibilityTable">
        <div>
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="GetAll()"> Atualizar</button>
            
        </div>
        <table class="table table-striped table-hover table-sm" >
            <tr class="thead-light">
                <th>Código do orçamento</th>
                <th>Destinatário</th>
                <th>Email do Destinatário</th>
                <th>Preço Total</th>
                <th>Ações</th>
            </tr>
            <tr *ngFor="let order of orders">
                <td>{{order.id}}</td>
                <td>{{order.recipientAddress + " " + order.recipientComplement}}</td>
                <td>{{order.recipientEmail}}</td>
                <td>R${{order.totalPrice}}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-success" id={{order.id}} (click) = "GetOrderById(order.id)">Visualizar Orçamento</button>
                    <!-- <button type="button" class="btn btn-sm btn-outline-danger" (click) = "ShowModal(user.id,user.name,conteudoModal)">Excluir</button> -->
                </td>
            </tr>
        </table>
    </div>
    <div class="border border-light rounded p-5" *ngIf="!visibilityTable">
        <button type="button" class="btn btn-sm btn-outline-secondary" *ngIf="!visibilityTable" (click)="BackToTable()"> Voltar</button>
        <table class="table table-striped table-hover table-sm" *ngIf="order">
            <td><h4>Pedido número: <b>{{order.id}}</b></h4> </td>
            <td>
                <h4 style="margin: 0;"><b><font color="#order.orderColor" >{{order.orderStatus}}</font></b></h4>
            
              </td>
            <tr class="thead-light">
                <th>Nome do Produto</th>
                <th>Quantidade</th>
                <th>Preço unitário</th>
                <th>Preço Total</th>
            </tr>
            <tr *ngFor="let orderD of orderDetails">
                <td>{{orderD.productName}}</td>
                <td>{{orderD.quantity}}</td>
                <td>R${{orderD.price}}</td>
                <td>R${{(+orderD.price) * (+orderD.quantity)}}</td>
            </tr>
            <tfoot>
                <tr>
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <td colspan="2"></td>
                  <td><b>Preço total:</b></td>
                  <td>R${{ order.totalPrice }}</td>
                </tr>
              </tfoot>
        </table>
    </div>
</div>