<div class="container margintop p-5">
    <div class="border rounded p-5 bcolor">
        <div class="row">
            <div class="col-12">
                <form [formGroup]="formOrder" (ngSubmit)="CreateOrder()">
                    <div class="row">
                        <div class="col-6">
                            <h1>Destinatário</h1>
                            <div class="col-12">
                                <label>Endereço: </label>
                                <input type="text"
                                    class="form-control form-control-sm"
                                    formControlName="RecipientAddress">
                            </div>
                            <div class="col-12">
                                <label>Complemento (opcional): </label>
                                <input type="text"
                                    class="form-control form-control-sm"
                                    formControlName="RecipientComplement">
                            </div>
                            <div class="col-12">
                                <label>Email (opcional): </label>
                                <input type="text"
                                    class="form-control form-control-sm"
                                    formControlName="RecipientEmail">
                            </div>
                            <div class="col-12">
                                <label>Telefone: </label>
                                <input type="text"
                                    class="form-control form-control-sm"
                                    formControlName="RecipientPhoneNumber">
                            </div>
                            <br>
                            <h1>Remetente</h1>
                            <div class="col-12">
                                <label>Endereço:</label>
                                <input type="text"
                                    class="form-control form-control-sm"
                                    formControlName="RemetentAddress">
                            </div>
                        </div>
                        <div class="col-6 text-center">
                            <input type="button"
                              class="btn btn-outline-secondary"
                              value="Adicionar novo produto"
                              (click)="NewProduct()" />
                            <div class="row" [formGroup]="formOrder">
                              <table>
                                <th width="60%">Produto</th>
                                <th width="30%">Quantidade</th>
                                <th width="10%"></th>
                                <tbody formArrayName="Products">
                                  <tr class="col-12 text-center p-5" *ngFor="let product of formOrder.get('Products').controls; let i = index"
                                    [formGroupName]="i">
                                    <td>
                                      <input type="text" formControlName="productName" class="col-12" />
                                    </td>
                                    <td>
                                      <input type="number" formControlName="quantity" class="col-6 mx-2" />
                                    </td>
                                    <td>
                                      <i class="far fa-trash-alt mx-2" (click)="RemoveProduct(i)"></i>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          
                    </div>
                    <br>

                    <div class="container">
                        <div class="row">
                            <div class="pl-1">
                                <br>
                                <button type="submit"
                                    class="btn btn-sm btn-outline-secondary btn-login">
                                    Login</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
